[submodule "calctex"]
	path = lisp/calctex
	url = git@github.com:johnbcoughlin/calctex.git
[submodule "too-long-lines"]
	path = lisp/too-long-lines-mode
	url = git@github.com:rakete/too-long-lines-mode.git
[submodule "composable"]
	path = lisp/composable.el
	url = git@github.com:Quiescent/composable.el.git
[submodule "project-command-at-interval"]
	path = lisp/project-command-at-interval
	url = git@github.com:Quiescent/project-command-at-interval.git
[submodule "lisp/pyvenv"]
	path = lisp/pyvenv
	url = git@github.com:jorgenschaefer/pyvenv.git
[submodule "lisp/ado-mode"]
	path = lisp/ado-mode
	url = git@github.com:louabill/ado-mode.git
