# Ignored File Types
*.cache
*.data
*.elc
*.eld
*.jpg
*.out
*.zip
*~

# Folders
racket-mode/
image-dired/
.cask/
url/
4clojure-answers/
request/
semanticdb/
server/
cedet/
predictive/
elpa/
games/
org-settings/
system-specific-tasks/
transient/

# Files
bbdb
projects
notes
conf/system-conf.el
org-settings/inbox.org
conf/quiescent-system-choice.el
conf/mail-settings.el
eshell/history
eshell/lastdir
abbrev_defs
bookmarks
history
org-clock-save.el
places
recentf
snippets/**/.yas*.el
srecode-map.el
startup.el
tramp
company-statistics-cache.el
recentf
.org-id-locations